@model InventoryManagement.Models.UserLogin
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InventoryManagement.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container login-container">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Login</h3>
            </div>
            <div class="card-body">
                <form asp-controller="Access" asp-action="Login" method="post">

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" placeholder="UserName" asp-for="Email" id="user-name" placeholder="Enter your User Name" />

                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" placeholder="PassWord" asp-for="Password" id="password" placeholder="Enter your Password" />

                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" asp-for="KeepLoggedIn" />
                            Keep me logged In.
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                    @if (ViewData["ValidateMessage"] != null)
                    {
                        <br />
                        <br />
                        <label>@ViewData["ValidateMessage"]</label>
                    }

                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

